*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  /* ///////////Header/////////////// */

  .Header{
    display: flex;
    justify-content: center;
    padding: 5px;
  }
  .Inside-Header {
    text-align: center;
    padding: 10px;
    margin-bottom: 20px;
    /* background: #077AED; */
    /* border: 1px solid; */
    color: white;
    border-radius: 5px 5px 0px 0px ;
  }


/* /////////////Nav */


.Nav-Box {
  width: 50%;
 margin: 0 80%;
 text-align: end;
}
.Nav-Box button {
  padding: 5px 10px;
  border-radius: 5px;
  outline: none;
  border: 1px solid;
  color: white;
  background: transparent;
  font-weight: bold;
} 




/* ///////////// */


body{
  height: 100vh;
  background: linear-gradient(to right, #4cb8c4, #3cd3ad);
}

  /* ///////////Todo/////////////// */

  .Input-Div{
    display: flex;
    justify-content: center;
  }
  .Input{
    width: 400px;
    padding: 10px 20px;
    border: 1px solid;
    border-right: none ;
    outline: none;
  }
  .Add-Todo{
    border: 1px solid;
    border-left: none;
    padding: 10px 20px;
    background-color: white;
    outline: none;
  }
  .Add-Todo i:hover {
    cursor: pointer;
    color: #077AED;
    transition: all ease-in-out 0.5s;
  }
  .Edit-Del{
    display: flex;
    justify-content:flex-end;
  }
  .Edit-Del button {
    background-color: transparent;
    border: none;
    outline: none;
    color: aliceblue;
    margin: 0px 5px;
  }
  .Main-Todo{
    display: flex;
    justify-content: center;
    margin: 100px 0 ;
  }
  .Section-Todo {
    border-radius: 10px;
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
    padding: 10px 20px;
    /* background: aliceblue; */
  }
  .List-Todo{
    display: flex;
    justify-content: space-between;
    border: 1px solid;
    margin: 5px 0;
    padding: 10px;
    background-color: #282A36;
    color: aliceblue;
    height: 50px;
  }
  .List-Item ul {
    padding: 0 0 0 16px;
  }
  .List-Item ul li {
    list-style-type: none;
    font-size: 20px;
    margin: 0;
    text-align: center;
  }
  .Del-All{
    display: flex;
    justify-content: center;
    margin: 5px 0;
  }
  .Del-All button {
    background-color: transparent;
    border: none;
    outline: none;
  }
  .Del-All button:hover {
    cursor: pointer;
  }
  .Edit-Btn i:hover {
    color: green;
    cursor: pointer;
    transition: all ease-in-out 0.5s;
  }
  .Del-Btn i:hover {
    color: rgba(255, 0, 0, 0.6);
    cursor: pointer;
    transition: all ease-in-out 0.5s;
  }
  .navbar-toggler{
    border: none !important;
  }
  .navbar-toggler:focus {
   box-shadow: none !important;
   border: 1px solid white !important;
  }


  







  /* edit */
  /* <i class="fa-solid fa-pen-to-square"></i> */
  /* delelte */
  /* <i class="fa-solid fa-trash-can"></i> */


  @media only screen and (max-width : 1200px)  {
    .Nav-Box {
      margin: 0 70%;
    }
  }
  @media only screen and (max-width : 990px)  {
    .Nav-Box {
      margin: 0 60%;
    }
  } 
   @media only screen and (max-width : 850px)  {
    .Nav-Box {
      margin: 0 50%;
    }
  } 
   @media only screen and (max-width : 360px)  {
    .Nav-Box {
      margin: 0 45%;
    }
  }

  
  @media only screen and (max-width : 552px)  {
    .Input 
    {
      width: 350px;
    }
  }
  
  @media only screen and (max-width : 460px)  {
    .Input {
      width: 300px;
    }
  }

  @media only screen and (max-width : 410px)  {
    .Input 
    {
      width: 250px;
    }
  }
  @media only screen and (max-width : 360px)  {
    .Input {
      width: 200px;
    } 
  }
  @media only screen and (max-width : 305px)  {
    .Input {
      width: 180px;
    }
  }